<ion-content>
  <ion-list>
    <ion-list-header class="mb-2">
      <ion-text class="d-flex mt-3">
        <ion-icon name="arrow-back" size="large" color="nav"></ion-icon>
        <h1 class="ms-3">Meu Perfil</h1>
      </ion-text>
    </ion-list-header>

    <ion-item lines="full" *ngFor="let d of dadosPerfil">
      <ion-icon slot="start" [name]="d.icon" color="nav"></ion-icon>
      <ion-label>
        <h2>{{ d.titulo }}</h2>
        <p>{{ d.dado }}</p>
      </ion-label>
      <ion-icon slot="end" name="pencil"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>