<ion-content>
  <ion-list>
    <ion-list-header class="mb-2">
      <ion-text class="d-flex mt-3">
        <ion-icon name="person" size="large"></ion-icon>
        <h1 class="ms-3">Meu Perfil</h1>
      </ion-text>
    </ion-list-header>

    <ion-item>
      <ion-icon slot="start" name="person" color="nav"></ion-icon>
      <ion-label>
        <h2>Nome</h2>
        <p>Gabriel</p>
      </ion-label>
      <ion-icon slot="end" name="pencil"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="mail" color="nav"></ion-icon>
      <ion-label>
        <h2>E-mail</h2>
        <p>gabriel@gabriel.com</p>
      </ion-label>
      <ion-icon slot="end" name="pencil"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="call" color="nav"></ion-icon>
      <ion-label>
        <h2>Celular</h2>
        <p>(49) 99999-9999</p>
      </ion-label>
      <ion-icon slot="end" name="pencil"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-icon slot="start" name="card" color="nav"></ion-icon>
    <ion-label>
      <h2>CPF</h2>
      <p>***.***.***-**</p>
    </ion-label>
    <ion-icon slot="end" name="pencil"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-icon slot="start" name="calendar" color="nav"></ion-icon>
    <ion-label>
      <h2>Data de Nascimento</h2>
      <p>19/09/2000</p>
    </ion-label>
    <ion-icon slot="end" name="pencil"></ion-icon>
  </ion-item>
</ion-content>