<ion-content>
  <div class="d-flex justify-content-center">
    <img src="../../assets/Logo_Forms.png">
  </div>

  <div class="mt-3">
    <h1 class="texto-cadastro">Cadastre-se para matar a sua fome!</h1>
  </div>

  <form [formGroup]="formularioCadastro" (ngSubmit)="validarCadastro()">
    <div class="caixa-form d-flex flex-column me-auto ms-auto mt-4">
      <ion-label class="mb-1"><h1 class="fs-5">Nome Completo</h1></ion-label>
      <ion-input rows="1" type="text" class="input-form" placeholder="Nome Completo" maxlength="50" formControlName="name"></ion-input>
      <small *ngIf="formularioCadastro.get('name').valid && formularioCadastro.get('name').touched" class="valid">Ok</small>
      <small *ngIf="!formularioCadastro.get('name').valid && formularioCadastro.get('name').touched" class="invalid">Nome Inválido</small>
    </div>
    <div class="caixa-form d-flex flex-column me-auto ms-auto mt-4">
      <ion-label class="mb-1"><h1 class="fs-5">CPF</h1></ion-label>
      <ion-input rows="1" (ionChange)="mudarValor($event, 'cpf')" type="text" class="input-form" minLenght="11" maxLength="14" placeholder="CPF" formControlName="cpf"></ion-input>
      <small *ngIf="formularioCadastro.get('cpf').valid && formularioCadastro.get('cpf').touched" class="valid">Ok</small>
      <small *ngIf="!formularioCadastro.get('cpf').valid && formularioCadastro.get('cpf').touched" class="invalid">CPF Inválido</small>
    </div>
    <div class="caixa-form d-flex flex-column me-auto ms-auto mt-4">
      <ion-label class="mb-1"><h1 class="fs-5">Data de Nascimento</h1></ion-label>
      <ion-input rows="1" type="date" class="input-form" placeholder="Data" formControlName="data_birth"></ion-input>
      <small *ngIf="formularioCadastro.get('data_birth').valid && formularioCadastro.get('data_birth').touched" class="valid">Ok</small>
      <small *ngIf="!formularioCadastro.get('data_birth').valid && formularioCadastro.get('data_birth').touched" class="invalid">Data de Nascimento Inválida</small>
    </div>
    <div class="caixa-form d-flex flex-column me-auto ms-auto mt-4">
      <ion-label class="mb-1"><h1 class="fs-5">Telefone</h1></ion-label>
      <ion-input rows="1" (ionChange)="mudarValor($event, 'telefone')" type="text" class="input-form" minLenght="15" maxLength="15" placeholder="Telefone" formControlName="telephone"></ion-input>
      <small *ngIf="formularioCadastro.get('telephone').valid && formularioCadastro.get('telephone').touched" class="valid">Ok</small>
      <small *ngIf="!formularioCadastro.get('telephone').valid && formularioCadastro.get('telephone').touched" class="invalid">Telefone Inválido</small>
    </div>
    <div class="caixa-form d-flex flex-column me-auto ms-auto mt-4 mb-1">
      <ion-label class="mb-1"><h1 class="fs-5">E-mail</h1></ion-label>
      <div class="d-flex flex-row mb-1" style="height: 50px;">
        <ion-input rows="1" class="input-form-email" type="text" maxLength="50" placeholder="E-mail" formControlName="email">
        </ion-input>
        <span class="input-email">@unochapeco.edu.br</span>
      </div>
      <small class="mt-1" *ngIf="formularioCadastro.get('email').valid && formularioCadastro.get('email').touched" class="valid">Ok</small>
      <small class="mt-1" *ngIf="!formularioCadastro.get('email').valid && formularioCadastro.get('email').touched" class="invalid">E-mail Inválido</small>
    </div>
    <div class="caixa-form d-flex flex-column me-auto ms-auto mt-4">
      <ion-label class="mb-1"><h1 class="fs-5">Senha</h1></ion-label>
      <div class="d-flex flex-column">
        <ion-input rows="1" [type]="tipoInputSenha" class="input-form" placeholder="Senha" minLength="6" maxLength="50" formControlName="password"></ion-input>
        <ion-icon color="dark" class="me-3 align-self-end" [name]="iconeInputSenha" (click)="mudarValor($event, 'senha')" style="position: relative; bottom: 2.2em; z-index: 999"></ion-icon>
      </div>
      <small *ngIf="formularioCadastro.get('password').valid && formularioCadastro.get('password').touched" class="valid">Ok</small>
      <small *ngIf="!formularioCadastro.get('password').valid && formularioCadastro.get('password').touched" class="invalid">Senha Inválida</small>
    </div>

    <div class="botao-login mt-5">
      <ion-button expand="block"class="fs-6 m-0 mb-4" color="success" size="large" strong="false" type="submit" [disabled]="!formularioCadastro.valid">
        Cadastrar-se
      </ion-button>
    </div>
  </form>

</ion-content>