<ion-content>
  <div class="d-flex justify-content-center">
    <img src="../../assets/Logo_Forms.png">
  </div>

  <div class="mt-3">
    <h1 class="texto-cadastro">Cadastre-se para matar a sua fome!</h1>
  </div>

  <form [formGroup]="formularioCadastro" (ngSubmit)="validarCadastro()">
    <div class="caixa-form d-flex flex-column me-auto ms-auto mt-4">
      <ion-label class="mb-1"><h1 class="fs-5">Nome Completo</h1></ion-label>
      <ion-input rows="1" type="text" class="input-form" placeholder="Nome Completo" maxlength="100" formControlName="nome" [value]="formularioCadastro.value.nome"></ion-input>
      <small *ngIf="formularioCadastro.get('nome').valid && formularioCadastro.get('nome').touched" class="valid">Ok</small>
      <small *ngIf="!formularioCadastro.get('nome').valid && formularioCadastro.get('nome').touched" class="invalid">Nome Inválido</small>
    </div>
    <div class="caixa-form d-flex flex-column me-auto ms-auto mt-4">
      <ion-label class="mb-1"><h1 class="fs-5">CPF</h1></ion-label>
      <ion-input rows="1" type="number" class="input-form" placeholder="CPF" formControlName="cpf"></ion-input>
      <small *ngIf="formularioCadastro.get('cpf').valid && formularioCadastro.get('cpf').touched" class="valid">Ok</small>
      <small *ngIf="!formularioCadastro.get('cpf').valid && formularioCadastro.get('cpf').touched" class="invalid">CPF Inválido</small>
    </div>
    <div class="caixa-form d-flex flex-column me-auto ms-auto mt-4">
      <ion-label class="mb-1"><h1 class="fs-5">Data de Nascimento</h1></ion-label>
      <ion-input rows="1" type="date" class="input-form" placeholder="Data" formControlName="dataNascimento"></ion-input>
      <small *ngIf="formularioCadastro.get('dataNascimento').valid && formularioCadastro.get('dataNascimento').touched" class="valid">Ok</small>
      <small *ngIf="!formularioCadastro.get('dataNascimento').valid && formularioCadastro.get('dataNascimento').touched" class="invalid">Data de Nascimento Inválida</small>
    </div>
    <div class="caixa-form d-flex flex-column me-auto ms-auto mt-4">
      <ion-label class="mb-1"><h1 class="fs-5">Telefone</h1></ion-label>
      <ion-input rows="1" type="tel" class="input-form" placeholder="Telefone" formControlName="telefone"></ion-input>
      <small *ngIf="formularioCadastro.get('telefone').valid && formularioCadastro.get('telefone').touched" class="valid">Ok</small>
      <small *ngIf="!formularioCadastro.get('telefone').valid && formularioCadastro.get('telefone').touched" class="invalid">Telefone Inválido</small>
    </div>
    <div class="caixa-form d-flex flex-column me-auto ms-auto mt-4">
      <ion-label class="mb-1"><h1 class="fs-5">E-mail</h1></ion-label>
      <ion-input rows="1" type="e-mail" class="input-form" placeholder="E-mail" formControlName="email"></ion-input>
      <small *ngIf="formularioCadastro.get('email').valid && formularioCadastro.get('email').touched" class="valid">Ok</small>
      <small *ngIf="!formularioCadastro.get('email').valid && formularioCadastro.get('email').touched" class="invalid">E-mail Inválido</small>
    </div>
    <div class="caixa-form d-flex flex-column me-auto ms-auto mt-4">
      <ion-label class="mb-1"><h1 class="fs-5">Senha</h1></ion-label>
      <ion-input rows="1" type="password" class="input-form" placeholder="Senha" formControlName="senha"></ion-input>
      <small *ngIf="formularioCadastro.get('senha').valid && formularioCadastro.get('senha').touched" class="valid">Ok</small>
      <small *ngIf="!formularioCadastro.get('senha').valid && formularioCadastro.get('senha').touched" class="invalid">Senha Inválida</small>
    </div>

    <div class="botao-login mt-5">
      <ion-button expand="block"class="fs-6 m-0 mb-4" color="success" size="large" strong="false" type="submit" [disabled]="!formularioCadastro.valid">
        Cadastrar-se
      </ion-button>
    </div>
  </form>

</ion-content>