<ion-content>
  <ion-list-header class="mb-2">
    <ion-text class="d-flex mt-3">
      <a [routerLink]="['/folder/home/home']">
        <ion-icon name="arrow-back" size="large" color="nav"></ion-icon>
      </a>
      <h1 class="ms-3">Meus Pedidos</h1>
    </ion-text>
  </ion-list-header>

  <ion-item lines="full">
    <ion-avatar slot="start">
      <img src="https://picsum.photos/200/200">
    </ion-avatar>
    <ion-label>
      <h2><strong>#12</strong></h2>
      <h3>Hangar</h3>
      <p>01/05/2022</p>
    </ion-label>
    <ion-icon slot="end" name="search"></ion-icon>
  </ion-item>

  <ion-item lines="full">
    <ion-avatar slot="start">
      <img src="https://picsum.photos/200/200">
    </ion-avatar>
    <ion-label>
      <h2><strong>#15</strong></h2>
      <h3>Da Tia</h3>
      <p>01/05/2022</p>
    </ion-label>
    <ion-icon slot="end" name="search"></ion-icon>
  </ion-item>
</ion-content>