<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-text class="d-flex mt-3">
        <a [routerLink]="['/folder/home/home']">
          <ion-icon name="arrow-back" size="large" color="nav"></ion-icon>
        </a>
        <h1 class="ms-3 mt-0">Meus Pedidos</h1>
      </ion-text>
    </ion-list-header>

    <ion-item lines="full" *ngFor="let d of pedidos">
      <ion-avatar slot="start">
        <img [src]="d.src">
      </ion-avatar>
      <ion-label>
        <h2 class="fs-6 fw-bold"># {{ d.id }}</h2>
        <div *ngFor="let r of restaurantes">
          <h3 *ngIf="d.restaurante === r.id">{{ r.nome }}</h3>
        </div>
        <p>{{ d.data }}</p>
        <p class="text-success fs-6 fw-bold">{{ d.valor_total | currency : 'BRL' : 'R$ ' : '1.2-2' }}</p>
      </ion-label>
      <a [routerLink]="['/folder/pedido/pedido', d.id]">
        <ion-icon slot="end" name="search"></ion-icon>
      </a>
    </ion-item>
  </ion-list>
</ion-content>