<ion-header [translucent]="true" *ngIf="logado === true">
  <ion-toolbar color="nav">
    <ion-buttons slot="start"> <!-- 8C0400 -->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item color="nav">
      <img src="../../assets/SnackUnoLogo.png">
    </ion-item>
    <ion-item color="nav" slot="end">
      <a [routerLink]="['/folder/minha-cesta/minha-cesta']">
        <ion-icon size="large" slot="end" name="bag" class="mt-2"></ion-icon>
        <div *ngIf="cestaService.cesta.quantidadeTotal > 0" class="quantidade-cesta d-flex align-items-start justify-content-center"><p>{{ cestaService.cesta.quantidadeTotal }}</p></div>
      </a>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-router-outlet></ion-router-outlet>
  <ion-grid *ngIf="logado === true" class="aba-inferior">
    <ion-row style="border: 1px solid red; width: 100%;">
      <ion-col style="border: 1px solid red;" class="d-flex flex-column align-items-center justify-content-center" *ngFor="let tab of appTabs">
        <ion-icon style="font-size: 25px;" [name]="tab.icon"></ion-icon>
        <p style="font-size: 12px; text-align: center;">{{ tab.title }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>