<ion-header [translucent]="true">
  <ion-toolbar color="nav">
    <ion-buttons slot="start"> <!-- 8C0400 -->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item color="nav">
      <img src="../../assets/SnackUnoLogo.png">
    </ion-item>
    <ion-item color="nav" slot="end">
      <a [routerLink]="['/cesta']">
        <ion-icon size="large" slot="end" name="bag" class="mt-2"></ion-icon>
      </a>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>
