<ion-content>
  <!-- <ion-list>
    <ion-item> -->
      <div>
        <!-- <ion-label>Forma de Pagamento</ion-label>
        <ion-select interface="popover" interfaceOptions="{ 'size': 'cover' }">
          <ion-select-option>Pix</ion-select-option>
          <ion-select-option>Cartão de Crédito</ion-select-option>
          <ion-select-option>Cartão de Débito</ion-select-option>
        </ion-select> -->
        <select class="form-select" aria-label="Default select example">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    <!-- </ion-item>
  </ion-list> -->
  <!-- <form class="form-pagamento d-flex flex-column me-auto ms-auto mt-5">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Forma de Pagamento</label>
      <select class="form-select">
        <option>Pix</option>
        <option>Cartão de Crédito</option>
        <option>Cartão de Débito</option>
      </select>
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-success botao-fc">Submit</button>
  </form> -->
</ion-content>