ion-content, ion-list-header {
    --background: rgba(var(--ion-color-nav-rgb), 0.1);
}

ion-list, ion-item {
    padding: 0px;
    // border: 1px solid red;
}


ion-button {
    --border-radius: 50px;
}

ion-select {
    /* Applies to the value and placeholder color */
    color: var(--ion-color-nav);
  
    /* Set a different placeholder color */
    --placeholder-color: var(--ion-color-nav);
  
    /* Set full opacity on the placeholder */
    --placeholder-opacity: 1;

    --padding-top: 50px;
}

.alertClass {
    background-color: white;
    height: 50px;
    padding: 10px;
    margin: 0 auto;
    width: 100%;
    border-radius: 7px;
}

.caixa-form {
    width: 90%;
    color: var(--ion-color-nav);
}

.input-form {
    background-color: white;
    --padding-start: 15px;
    --padding-end: 15px;
    --padding-top: 15px;
    --padding-bottom: 15px;
    height: 50px;
    border-radius: 7px;
}

.botao-fc {
    display: flex;
    width: 100%;
    justify-content: center;
}

ion-button {
    --border-radius: 50px;
}