<ion-content>
  <ion-text class="d-flex mt-3 ms-3 mb-4">
    <a [routerLink]="['/folder/home/home']">
      <ion-icon name="arrow-back" size="large" color="nav"></ion-icon>
    </a>
    <h1 class="ms-3 mt-0">Finalizar Pedido</h1>
  </ion-text>

  <form novalidate #formulario="ngForm">
    <div class="caixa-form d-flex flex-column me-auto ms-auto mt-2">
      <ion-label class="mb-1"><h1 class="fs-5">Forma de Pagamento</h1></ion-label>
      <ion-select name="pagamento" ngModel interface="alert" [interfaceOptions]="alertOptions" class="alertClass mb-3" placeholder="Seleciona uma forma de pagamento">
        <ion-select-option value="pix" [ngValue]="tipoPagamento">Pix</ion-select-option>
        <ion-select-option value="credito" [ngValue]="tipoPagamento">Cartão de Crédito</ion-select-option>
        <ion-select-option value="debito" [ngValue]="tipoPagamento">Cartão de Débito</ion-select-option>
      </ion-select>
    </div>

    <div class="caixa-form d-flex flex-column me-auto ms-auto mt-2">
      <ion-label class="mb-1"><h1 class="fs-5">Entrega</h1></ion-label>
      <ion-select name="entrega" ngModel interface="alert" [interfaceOptions]="alertOptions2" class="alertClass mb-3" placeholder="Seleciona uma forma de entrega">
        <ion-select-option value="retirada" [ngValue]="tipoEntrega">Retirada</ion-select-option>
        <ion-select-option value="entrega" [ngValue]="tipoEntrega">Entrega</ion-select-option>
      </ion-select>
    </div>

    <div class="caixa-form d-flex flex-column me-auto ms-auto mt-2">
      <ion-label class="mb-1"><h1 class="fs-5">Observações</h1></ion-label>
      <ion-textarea rows="2" class="input-form" placeholder="Observações" maxlength="100"></ion-textarea>
    </div>

    <div class="botao-fc mt-5">
      <ion-button (click)="validarCompra()" [routerLink]="['/folder/pagamento/pagamento']" class="fs-6 m-0 mb-4" size="large" color="success" strong="false">
        Finalizar Compra
      </ion-button>
    </div>
  </form>
</ion-content>