.img-card {
    width: 300px;
    height: 200px;
}

.preco {
    margin-top: -10px;
}

.img-restaurante {
    width: 25px;
    height: 25px;
    margin-top: -17px;
    margin-right: 7px;
    border-radius: 50px;
}

a {
    text-decoration: none;
}

ion-card-content {
    margin: 0px;
}

ion-card-title {
    margin: -10px 15px -10px 0px;
}