<ion-grid>
  <!-- <ion-row class="">
    <ion-col size="12"> -->
      <swiper [pagination]="true" #swipper class="mySwiper" *ngFor="let dp of dadosProdutos">

        <!-- <ng-template *ngFor="let produto of produtos" swiperSlide> -->
        <ng-template swiperSlide *ngFor="let d of dp">
          <ion-card>
            <img [src]="d.img" class="img-card">
            <ion-card-header>
              <ion-card-subtitle>
                <img [src]="">
                <p>{{ d.restaurante }}</p>
              </ion-card-subtitle>
              <ion-card-title><h3>{{ d.produto }}</h3></ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              <p>{{ d.descricao }}</p>
            </ion-card-content>

            <ion-card-content>
              <strong class="text-success fs-6">{{ d.preco }}</strong>
            </ion-card-content>

            <ion-card-content>
              <ion-button color="nav" [routerLink]="['/folder/home/home', 1]">
                Ver Produto
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ng-template>
      </swiper>
    <!-- </ion-col>
  </ion-row> -->
</ion-grid>