<ion-grid>
  <!-- <ion-row class="">
    <ion-col size="12"> -->
      <div *ngFor="let produtos of produtosSlider">
        <swiper [pagination]="true" #swipper class="mySwiper">
          <div *ngFor="let p of produtos">
            <ng-template swiperSlide>
              <a [routerLink]="['/folder/produto/produto', p.restaurante, p.id]">
                <ion-card>
                  <img [src]="p.img" class="img-card">
                  <ion-card-header>
                    <ion-card-subtitle class="d-flex align-items-center mb-3">
                      <img class="img-restaurante" src="http://picsum.photos/40/40">
                      <p>{{ p.restaurante }}</p>
                    </ion-card-subtitle>
                    <ion-card-title><h3>{{ p.produto }}</h3></ion-card-title>
                  </ion-card-header>
                
                  <ion-card-content>
                    <p>{{ p.descricao }}</p>
                  </ion-card-content>

                  <ion-card-content class="preco mb-1">
                    <strong class="text-success fs-5">{{ p.preco | currency : 'BRL' : 'R$ ' : '1.2-2' }}</strong>
                  </ion-card-content>

                  <!-- <ion-card-content>
                    <ion-button color="nav">
                      Ver Produto
                    </ion-button>
                  </ion-card-content> -->
                </ion-card>
              </a>
          </ng-template>
        </div>
      </swiper>
    </div>
</ion-grid>