<ion-content>
  <div class="d-flex justify-content-center">
    <img src="../../assets/Logo_Forms.png">
  </div>

  <form>
    <div class="caixa-form d-flex flex-column me-auto ms-auto mt-4">
      <ion-label class="mb-1"><h1 class="fs-5">Usuário</h1></ion-label>
      <ion-input rows="1" type="text" class="input-form" placeholder="Usuário" maxlength="100"></ion-input>
    </div>
    <div class="caixa-form d-flex flex-column me-auto ms-auto mt-4">
      <ion-label class="mb-1"><h1 class="fs-5">Senha</h1></ion-label>
      <ion-input rows="1" type="password" class="input-form" placeholder="Senha" maxlength="100"></ion-input>
    </div>
  </form>

  <div class="botao-login mt-5">
    <ion-button expand="block" [routerLink]="['/folder/home/home']" class="fs-6 m-0 mb-4" size="large" strong="false">
      Entrar
    </ion-button>
  </div>  

</ion-content>