<ion-content color="">
  <div *ngFor="let p of Produtos">
    <div *ngIf="p == Produto">
      <ion-text class="d-flex mt-3 ms-3">
        <a [routerLink]="['/folder/home/home']">
          <ion-icon name="arrow-back" size="large" color="nav"></ion-icon>
        </a>
        <h1 class="ms-3">Meu Perfil</h1>
      </ion-text>
      <img [src]="p.img" class="mt-2 img-fluid">
      <div class="m-4">
        <h2 class="fs-2">{{ p.produto }}</h2>
        <p class="fs-6 mt-2">{{ p.descricao }}</p>
        <p class="text-success fs-4 mt-3"><strong>{{ p.preco }}</strong></p>
      </div>

      <div class="caixa me-auto ms-auto mt-4">

        <ion-list class="">
            <ion-label>
              <ion-item lines="full" class="">
                <ion-icon slot="start" name="bicycle" color="success" class="ms-3"></ion-icon>
                <p>Entrega Disponível</p>
              </ion-item>
            </ion-label>
          <ion-label>
            <a (click)="abrirMenu()">
              <ion-item lines="full" [color]="corItem">
                <ion-icon slot="start" name="card" color="success" class="ms-3"></ion-icon>
                <p>Formas de Pagamento</p>
                <ion-icon [name]="iconeItem" slot="end" size="small"></ion-icon>
              </ion-item>
              <ion-list *ngIf="menuOpcoes === true">
                <ion-item lines="full"><p>Item 1</p></ion-item>
              </ion-list>
            </a>
          </ion-label>
          <ion-label>
            <ion-item lines="full">
              <ion-icon slot="start" name="time" color="success" class="ms-3"></ion-icon>
              <p>Aberto até as 22:00</p>
            </ion-item>
          </ion-label>
        </ion-list>
      </div>

    </div>
  </div>

  <div class="botao-fc mt-5">
    <ion-button class="fs-6 m-0 mb-4" size="large" color="success" strong="false">
      Adicionar à Cesta
    </ion-button>
  </div>

</ion-content>