ion-content, ion-list-header {
    --background: rgba(var(--ion-color-nav-rgb), 0.1);
}

ion-list, ion-item {
    padding: 0px;
    // border: 1px solid red;
}

.area-add-cesta form  {
    width: 100%;
    border: 1px solid red;
}

.botao-fc {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10%;
    // border: 1px solid blue;
}

.caixa {
    width: 90%;
    height: 50px;
    background-color: #FFF;
    margin-top: 10%;
}


img {
    height: 200px;
    width: 100%;
}

ion-input {
    --background: #FFF;
    --padding-bottom: 10px;
    --padding-top: 10px;
    --padding-start: 15px;
    --padding-end: 10px;
    height: 100%;
}