* {
    margin: 0px;
    padding: 0px;
}

ion-content {
    --background: rgba(var(--ion-color-nav-rgb), 0.1);
}

.caixa {
    width: 90%;
    background-color: #FFF;
    height: 150px;
}

.botao-fc {
    display: flex;
    width: 100%;
    justify-content: center;
}

ion-button {
    --border-radius: 50px;
}