<ion-content>
  <ion-text class="d-flex mt-3 ms-3 mb-4">
    <a [routerLink]="['/folder/home/home']">
      <ion-icon name="arrow-back" size="large" color="nav"></ion-icon>
    </a>
    <h1 class="ms-3 mt-0">Pedido</h1>
    
  </ion-text>

  <div class="vtnc" *ngIf="pedido !== undefined && restaurantes !== undefined">
    <p>{{ pedido.id }}</p>
    <div *ngFor="let r of restaurantes">
      <p *ngIf="pedido.restaurante === r.id">{{ r.nome }}</p>
    </div>
    <p>{{ pedido.data }}</p>
    <p>{{ pedido.valor_total }}</p>
  </div>
</ion-content>