<ion-content>
  <ion-list>
    <ion-list-header class="mb-0">
      <ion-text class="d-flex mt-3">
        <a [routerLink]="['/folder/home/home']">
          <ion-icon name="arrow-back" size="large" color="nav"></ion-icon>
        </a>
        <h1 class="ms-3 mt-0">Meus Cartões</h1>
      </ion-text>
    </ion-list-header>
  </ion-list>

  <div *ngFor="let d of cartoes; index as i">
    <ion-item lines="full" class="mt-0 pt-0">
      <ion-icon slot="start" name="card" color="nav"></ion-icon>
      <ion-label>
        <h2>{{ d.nomeCartao }}</h2>
        <p>{{ d.numeroCartao }}</p>
      </ion-label>
      <ion-icon *ngIf="controladoresInputs[i] === false" slot="end" name="pencil" (click)="abreEditar(i)"></ion-icon>
    </ion-item>

    <ion-list *ngIf="controladoresInputs[i] === true">
      <ion-item lines="full">
        <ion-label position="stacked">Nome do Cartão:</ion-label>
        <ion-input [placeholder]="d.nomeCartao" type="text" [(ngModel)]="valoresInputNomeCartao[i]"></ion-input>
        <ion-label position="stacked">Número do Cartão:</ion-label>
        <ion-input [placeholder]="d.numeroCartao" type="number" [(ngModel)]="valoresInputNumeroCartao[i]"></ion-input>
        <ion-icon name="save" slot="end" (click)="editaCartao(d.id)"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
  
</ion-content>