<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-text class="d-flex mt-3">
        <a [routerLink]="['/folder/home/home']">
          <ion-icon name="arrow-back" size="large" color="nav"></ion-icon>
        </a>
        <h1 class="ms-3 mt-0">Minha Cesta</h1>
      </ion-text>
    </ion-list-header>

    <div *ngIf="produtosCesta !== []">
      <ion-item lines="full" *ngFor="let produto of produtosCesta"> <!--  *ngFor="let d of dadosCesta" -->
        <ion-avatar slot="start">
          <img [src]="produto.produto.img">
        </ion-avatar>
        <ion-label>
          <h2 class="fs-6 fw-bold">{{ produto.produto.produto }}</h2>
          <h3>{{ produto.produto.descricao }}</h3>
          <p>{{ produto.produto.restaurante }}</p>
          <p>Quantidade: {{ produto.quantidade }}</p>
        </ion-label>
        <p class="text-success fs-6 fw-bold me-4 mt-3">{{ produto.produto.preco | currency : 'BRL' : 'R$ ' : '1.2-2' }}</p>
        <ion-icon slot="end" name="trash" color="danger"></ion-icon>
      </ion-item>
    </div>

    <div *ngIf="produtosCesta === []" style="color: white">
      <p>Cesta Vazia</p>
    </div>
    
  </ion-list>

  <div class="botao-fc mt-5"> <!-- [routerLink]="['/folder/pagamento/pagamento']" -->
    <ion-button [routerLink]="['/../../../folder/pagamento/pagamento']" (click)="finalizarCompra()" class="fs-6 m-0 mb-4" size="large" color="success" strong="false">
      Comprar
    </ion-button>
  </div>
</ion-content>