<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-text class="d-flex mt-3">
        <a [routerLink]="['/folder/home/home']">
          <ion-icon name="arrow-back" size="large" color="nav"></ion-icon>
        </a>
        <h1 class="ms-3 mt-0">Minha Cesta</h1>
      </ion-text>
    </ion-list-header>

    <div *ngIf="produtosCesta.length !== 0">
      <ion-item lines="full" *ngFor="let produto of produtosCesta"> <!--  *ngFor="let d of dadosCesta" -->
        <ion-avatar slot="start">
          <img [src]="produto.produto.img">
        </ion-avatar>
        <ion-label>
          <h2 class="fs-6 fw-bold">{{ produto.produto.produto }}</h2>
          <h3>{{ produto.produto.descricao }}</h3>
          <p>{{ produto.produto.restaurante }}</p>
          <p>Quantidade: {{ produto.quantidade }}</p>
        </ion-label>
        <p class="text-success fs-6 fw-bold me-4 mt-3">{{ produto.produto.preco | currency : 'BRL' : 'R$ ' : '1.2-2' }}</p>
        <ion-icon slot="end" name="trash" color="danger" (click)="removerItem(produto.produto.id)"></ion-icon>
      </ion-item>
      <div class="botao-fc pt-5">
        <ion-button [routerLink]="['/../../../folder/pagamento/pagamento']" (click)="finalizarCompra()" class="fs-6 m-0 mb-4" size="large" color="success" strong="false">
          Comprar
        </ion-button>
      </div>
    </div>
  </ion-list>

  <div *ngIf="produtosCesta.length === 0" class="cesta-vazia d-flex flex-column align-items-center mt-3">
    <img src="../../assets/bag-outline.svg" width="20%">
    <h1>Cesta Vazia :(</h1>
    <p style="text-align: center" class="mt-3">Parece que você ainda não aproveitou as ofetas para matar sua fome!</p>
  </div>
</ion-content>